.max-width {
  max-width: 46.8rem;
  margin: 0 auto;
  padding: 0;
}
.header .nav-link {
padding-left: 10px !important;
}
a:hover {
  text-decoration: none !important;
}

.pt5 {
  padding-top: 5rem;
}

.text-icon__list {
  padding: 0;
  display: flex;
  margin: 1rem 0;
}
.text-icon__list li {
  font-size: 0.9rem;
  margin-right: 1rem;
}
.text-icon__list li i {
  font-size: 0.7 0.5rem;
}

.blog-content__image {
  border-radius: 10px;
  overflow: hidden;
  transition: var(--trainsition05s);
}
.blog-content__image img {
  border-radius: 5px;
}
.blog-content__image:hover {
  transform: var(--translateY);
}
.blog-content__text {
  text-align: justify;
}
.blog-content__title {
  margin-top: 5rem;
}
.blog-content h4 a {
  font-size: 2.1rem;
  color: var(--title__color);
  font-weight: 550;
  line-height: 2.5rem;
}
.blog-content__disc {
  color: var(--text__color);
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  line-height: 2rem;
  padding: 1.5rem 0;
  margin: 0;
  opacity: 0.8;
}
.blog-content .text0 p {
  padding: 0;
  margin: 10px 0;
}

.blockquote {
  border-left: 3px solid var(--text__color);
  padding: 1.2rem 5rem 1.2rem 3.125rem;
  font-size: 1.5rem;
  background: var(--background-color);
  text-align: left;
}
.blockquote q {
  quotes: auto;
}
.blockquote span {
  font-size: 70%;
  color: #6c757d;
  padding-left: 1.5rem;
  position: relative;
}
.blockquote span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  background: #6c757d;
  width: 15px;
  height: 1px;
}

.post-navigation {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.post-navigation__title {
  font-size: 1rem;
  color: var(--text__color);
}
.post-navigation__title i {
  font-size: 12px;
}
.post-navigation a {
  margin-top: 0.8rem;
}
.post-navigation label {
  border-radius: 0;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0;
  color: var(--text__color);
  background: #fff;
  cursor: pointer;
}
.post-navigation .post-view__prev {
  display: grid;
  grid-template-columns: 23% 73%;
  gap: 4%;
  justify-items: stretch;
}
.post-navigation .post-view__next {
  display: grid;
  grid-template-columns: 73% 23%;
  gap: 4%;
  justify-items: stretch;
}

.comments h3 {
  font-size: 35px;
  color: var(--title-color);
  font-weight: 500;
  opacity: 0.9;
}
.comments-media {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.25rem;
  justify-items: stretch;
  text-align: left;
}
.comments-media__image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.comments-media__body h5 {
  font-size: 1.25rem;
  color: var(--title-color);
  font-weight: 500;
  padding: 0;
}
.comments-media__body .time {
  font-size: 1rem;
  color: #ababab;
  display: block;
  margin-top: 5px;
}
.comments-media__body p {
  font-size: 16px;
  color: var(--text-color);
  margin: 0;
}

.related-post__item {
  border: 1px solid #ddd;
  transition: var(--trainsition05s);
}
.related-post__item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: var(--translateY);
}
.related-post__body {
  text-align: left;
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}
.related-post__body h4 {
  color: var(--text__color);
  font-size: 18px;
}
.related-post__body p {
  margin: 0;
  padding: 1rem 0 0 0;
}
.related-post h3 {
  font-size: 35px;
  color: var(--title-color);
  font-weight: 500;
  opacity: 0.9;
  margin-bottom: 2rem;
}
.related-post .body-right p {
  color: var(--primary__color);
  font-weight: 500;
}

.reply h3 {
  font-size: 35px;
  color: var(--title-color);
  font-weight: 500;
  opacity: 0.9;
  margin-bottom: 2rem;
}

.form-control {
  color: var(--text__color);
  font-size: 16px;
  width: 100%;
  height: 55px;
  background: #F7F9FC !important;
  outline: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;
  border: 1px solid #eee;
}
.form-control:focus {
  background: #fff !important;
}

.contact-textarea {
  height: 150px;
  padding: 15px 20px;
}

@media screen and (max-width:992px) {
  .creative .modal-content {
      height: 35rem !important;
  }
}
/*# sourceMappingURL=BlogSinger.css.map */
